$backround0:#abff2d;
$backround50:#02ad02;
$backround100:#08effb;
$black-color:rgb(43, 40, 40);
$backround-etape:rgb(255, 255, 255);
$backround-non-active-line:#ddd;
$red-color:red;
$user-color:#ff4203;
$shadow-user:rgb(201, 255, 74);
$background-answers:#b8c1ec;
$shadow-answers:#2ecc71;
$color-active-etape:#05795c;

$text-align:center;